


.ObjectTreeNode {
  user-select: none;

  .Icon-add {
    visibility: hidden;
  }

  .Icon-toggle {
    transition: transform 0.15s ease;
    transform: scale(0.7);
    transform-origin: center;
  }

  &.is-active {
    background-color: #ddd;
  }

  &.is-dragOver .Icon-add {
    visibility: visible;
  }
}


.ObjectTreeItemWrapper {
  position: relative;
}

.ObjectTreeItem {
  padding: 5px 10px 5px 0px;
  display: flex;
  align-items: center;
}

.ObjectTreeItem__expandToggle {
  flex: 0 0 18px;
}

.is-expand .Icon-toggle {
  transform: rotate(45deg) scale(0.7);
}

.ObjectTreeItem__title {
  flex: 1 1 auto;
}

.ObjectTreeItem__indicators {
  flex: 0 0 auto;
}

.ObjectTreeNode__dropzone {
  $height: 4px;

  position: absolute;
  opacity: 0;
  width: 100%;
  height: $height;

  &.is-dragOver {
    opacity: 1;
    background-color: black;
  }

  &:first-child {
    top: -$height/2;
  }

  &:not(:first-child) {
    bottom: -$height/2;
  }
}




