$grid-cell-size: 4px;
$grid-line-width: 1px;

.Stage {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
  left: 0;
  right: var(--right-side-width);
  height: 100%;
  overflow-y: scroll;

  background:
    linear-gradient(to right, #ddd, #ddd $grid-line-width, transparent 0, transparent),
    linear-gradient(to bottom, #ddd, #ddd $grid-line-width, transparent 0, transparent);
  background-size: $grid-cell-size 100%, 100% $grid-cell-size;
}
