$grid-cell-size: 4px;
$grid-line-width: 1px;

.App {
}

.Explorer {
  width: 100%;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.zone.is-dragActive {
  background: gray;
}

.zone.is-dragDisable {
  background: black;
}
